

footer form{display: flex; flex-direction: column; row-gap: 40px;}
footer form .form-align{display: flex; column-gap: 40px;}
footer form .form-align .input-box{width: 400px; display: flex; flex-direction: column;}
footer form input{background-color: transparent; padding: 16px 0;border: none; border-bottom: 1px solid #808080; color: #fbfbfb; outline: none; border-radius: 0;}
footer form .message-box{width: 100%; display: flex; flex-direction: column; row-gap: 24px;}
footer form .message-box #message{outline: none; width: 100%; border: 1px solid #808080; height: 144px; background-color: transparent; color: #fbfbfb; padding: 12px;resize: none; border-radius: 0;}
footer form .send-btn{width: 100%; display: flex; justify-content: flex-end;}
footer form .send-btn button{width: 400px; height: 44px; border: 1px solid #808080;background-color: transparent; color: #FBFBFB; padding: 14px 0; transition:all .3s;}
footer form .send-btn button:hover{background-color: #FF00FF; border: none;}

footer .company-info{display: flex; flex-direction: column; row-gap: 80px; padding-left: 250px;}
footer .company-info span{font-size: 21px; color: #808080;}
footer .company-info p{padding-top: 20px;}